<p id="notice"><%= notice %></p>

<p>
  <strong>Chat:</strong>
  <%= @message.chat %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender_id %>
</p>

<p>
  <strong>Reciever:</strong>
  <%= @message.reciever_id %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @message.archived %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
