<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :pool %>
    <%= f.text_field :pool %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>

  <div class="field">
    <%= f.label :about_me %>
    <%= f.text_area :about_me %>
  </div>

  <div class="field">
    <%= f.label :technologies %>
    <%= f.select :technologies, options_from_collection_for_select(get_all_technologies, :id, :name, @profile.technologies.pluck(:id) ), {}, {:multiple => true} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
