<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @profile.pool %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @profile.contact %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.about_me %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
