<%= form_for(issue, remote: true) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :technology_id %>
    <%= f.collection_select :technology_id, options_for_technology, :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :is_solved %>
    <%= f.check_box :is_solved %>
  </div>

  <div class="field">
    <%= f.label :archived %>
    <%= f.check_box :archived %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
