<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Asker:</strong>
  <%= @issue.asker.name %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @issue.technology.name%>
</p>

<p>
  <strong>Is solved:</strong>
  <%= @issue.is_solved %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @issue.archived %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>

<h2>Messages:</h2>
<table>
  <thead>
    <th>Message:</th>
    <th>Sender: </th>
  </thead>
  <tbody id= "messages">
    <%= render 'messages/messages', :issue => @issue %>
  <tbody>
</table>


<!-- <%#= link_to 'New Message', new_issue_message_path(@issue), remote: true %><br> -->
<!-- <h2>Add a message:</h2>
<%#= render 'messages/form', :issue => @issue%> -->

