<h1 style = "font-size: -webkit-xxx-large;">Welcome to the Office Friend</h1>
<%= image_tag 'dancing.gif' , :style => " position: relative; margin-right: 400px; height: 246px; width: 21%;"%><br>

<div id="user_login_form", style = "margin-top: -267px; position: relative; margin-left: 339px;" >
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, style: "position: relative; margin-right: 288px;" %><br />
      <%= f.email_field :email, autofocus: true , style: "width: 317px;" %>
    </div>

    <div class="field">
      <%= f.label :password, style: "position: relative; margin-right: 265px;"  %><br />
      <%= f.password_field :password, autocomplete: "off", style: "width: 317px;"  %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, style: "position: relative; margin-right: 310px;"  %>
        <%= f.label :remember_me, style: "position: relative; margin-right: 236px;"   %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", style: "width: 325px;" %>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
